body {
    background-color:#171515;
}

img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

a {
    color: aquamarine;
}

a :hover {
    color: coral;
    text-decoration: none;
}

#container {
    background-color: #aa2a2a;
    width: 65%;
    margin: 20px auto;
    border: 4px solid cornflowerblue;
    padding: 20px;
    border-radius: 20px;
}

header {
    text-align: center;
    padding: 40px;
    border-bottom: 2px solid #aa2a2a;
}

nav {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
}

nav li a {
    display: block;
    background-color: #f0f8ff;
    color: #aa2a2a;
    width: 200px;
    height: 20px;
    line-height: 40px;
    font-size: 25px;
    text-decoration: none;
    border-radius: 10px;
    border: 2px solid #ff7f50;
}

nav li a:hover {
   color: #ff7f50;
   background-color: #aa2a2a;
}